<div class="container">
  <!--Splash image/buttons-->
  <div class="row justify-content-xl-center" style="min-height: 90vh">
    <div class="col-12 bg-secondary">
      <h1 class="font-weight-light text-white">Splash image and other landing info goes here</h1>
    </div>
  </div>

  <!--About this project section-->
  <div class="row justify-content-xl-center">
    <div class="col-12 bg-primary">
      <h1 class="font-weight-light text-light">About this Project</h1>
      <p class="text-white">This app was created as a full-stack capstone project for LaunchCode's LiftOff program (Spring 2021 cohort). Team members Anna McBride, Anya Wynne, Casey Gardonio-Foat, Chandler EuBank, and Tara Kotthoff built the project from scratch under the mentorship of Carrie Jones. For more information about each team member and the LaunchCode program, click here.</p>
    </div>
  </div>

  <!--How to use section-->
  <div class="row justify-content-xl-center">
    <div class="col-12">
      <h1 class="font-weight-light text-primary">How to Use this App</h1>
      <p>
        One of the joys of collecting is learning about the objects you collect. Documenting dates, purchase prices, and background information adds value to both the objects and the collection as a whole, and allows you to make informed decisions about new acquisitions. But how do you organize all of these details in one place? Moreover, how can you connect with like-minded enthusiasts and learn from the vast expertise of the crowd?</p>
       
      <p>
        Modeled on museum catalogs and databases, this app allows registered users to store and organize information about their collections, including purchase and provenance details, photographs, condition reports, and research notes. It also allows users to post and edit guides on categories of objects on which they have expertise. Both registered users and non-users can access these guides and fora to further their own research.</p>
    </div>
  </div>
</div>
