

img {
    max-height: 200px;
    max-width: 200px;
}

.d-flex {
    padding-bottom: 15px;
    padding-right: 20px;
}

button {
    padding-top: 9px;
    padding: 7px;
    border-color: rgb(172, 182, 182);
}

h4 {
    padding-top: 20px;
}