<a routerLink="/member-page">
    <h3>back to my viewing</h3>
</a>

<hr>
<div *ngIf='userLoggedIn'>
    <button (click)="onEdit()">Edit this item</button> |  
    <button (click)="onDelete()">Delete this item</button>
</div>
<hr>
<div class="text-left">
    <h3>{{itemData.category}}</h3>
    <h4>{{itemData.subCategory}}</h4>
    <img [src]=itemData.imagePath height="600">
    <div class="col-12">
        <h4>{{itemData.title}}</h4>
        <p *ngIf="itemData.description">{{itemData.description}}</p>
        <p *ngIf="itemData.creator">Creator: {{itemData.creator}}</p>
        <p *ngIf="itemData.yearCreated">Year Created: {{itemData.yearCreated}}</p>
        <p *ngIf="itemData.placeOfOrigin">Place of Origin: {{itemData.placeOfOrigin}}</p>
        <p *ngIf="itemData.mediaType">Media: {{itemData.mediaType}}</p>
        <p *ngIf="itemData.cond">Condition: {{itemData.cond}}</p>
        <p *ngIf="itemData.refs">References: {{itemData.refs}}</p>
    </div>
    
</div>
