<!--About this project section-->
<div class="container-fluid">
  <!--title start-->
  <div class="row justify-content-xl-center mt-5">
    <div class="col-12 text-center mb-3">
      <h1 class="heading-primary text-secondary text-center" style="font-size: 80px; padding-top: 3rem;">Our Team</h1>          
      <p class="text-muted">
        This app is a fullstack capstone project created for 
        <a class="text-secondary" href="https://www.launchcode.org/">LaunchCode's</a> 
        LiftOff program (Spring 2021 cohort). Team members Anna McBride, Anya Wynne, Casey Gardonio-Foat, Chandler EuBank, and Tara Kotthoff built the project from scratch under the mentorship of Carrie Jones.</p>
    </div>
  </div>
  <!--title end-->

  <!--team members section start-->

  <!--team members first row-->
  <div class="row text-center">

    <!--Anna McBride-->
    <div class="col-lg-4 col-sm-10 mx-auto mb-5">
      <img class="rounded-circle border border-warning mb-4 shadow"  src="../../../assets/photos/team_AnnaMcBride.png" style="height: 200px">
      <h5 class="text-secondary text-uppercase" style="letter-spacing: .25rem;">Anna McBride</h5>
      <hr class="border-info" width="150">
      <p class="text-muted my-4">As a recent graduate from LaunchCode's CoderGirl Java cohort, I am focused on growing my knowledge and skill base in Java, Spring and Hibernate.</p>
      <div>
        <a href="https://github.com/AnnaMcBride"><img src="../../../assets/icons/github_info.svg" style="height: 30px; padding-inline: 10px"></a>
        <a href="https://www.linkedin.com/in/anna-w-mcbride/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px; padding-inline: 10px;"></a>          
      </div>
    </div>

    <!--Anya Wynne-->
    <div class="col-lg-4 col-sm-10 mx-auto mb-5">
      <img class="rounded-circle border border-warning mb-4 shadow" src="../../../assets/photos/team_AnyaWynne.jfif" style="height: 200px">
      <h5 class="text-secondary text-uppercase" style="letter-spacing: .25rem;">Anya Wynne</h5>
      <hr class="border-info" width="150">
      <p class="text-muted my-4">Web developer and LaunchCode graduate with a background in graphic design and photography.</p>
      <br>
      <br>
      <div>
        <a href="https://github.com/AnyaWynne"><img src="../../../assets/icons/github_info.svg" style="height: 30px; padding-inline: 10px"></a>
        <a href="https://www.linkedin.com/in/anya-wynne-2b496618/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px; padding-inline: 10px;"></a>          
      </div>
    </div>

    <!--Casey Gardonio-Foat-->
    <div class="col-lg-4 col-sm-10 mx-auto mb-5">
      <img class="rounded-circle border border-warning mb-4 shadow" src="../../../assets/photos/team_CaseyGardonio-Foat.jfif" style="height: 200px">
      <h5 class="text-secondary text-uppercase" style="letter-spacing: .25rem;">Casey Gardonio-Foat</h5>
      <hr class="border-info" width="150">
      <p class="text-muted my-4">A recent graduate from LaunchCode's front end web development program, I also have experience in graphic design, entrepreneurship, and non-profit management.</p>
      <div>
        <a href="https://github.com/CaseyGardonio-Foat"><img src="../../../assets/icons/github_info.svg" style="height: 30px; padding-inline: 10px"></a>
        <a href="https://www.linkedin.com/in/caseygardoniofoat/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px; padding-inline: 10px;"></a>          
      </div>
    </div>
  </div>

  <!--team members second row-->
  <div class="row text-center">
    <!--Chandler EuBank-->
    <div class="col-lg-4 col-sm-10 mx-auto mb-5">
      <img class="rounded-circle border border-warning mb-4 shadow"  src="../../../assets/photos/team_ChandlerEuBank.png" style="height: 200px">
      <h5 class="text-secondary text-uppercase" style="letter-spacing: .25rem;">Chandler EuBank</h5>
      <hr class="border-info" width="150">
      <p class="text-muted my-4">Aspiring web developer recently graduated from LaunchCode's CoderGirl cohort, focusing on JavaScript and Java. Actively seeking development positions.</p>
      <div>
        <a href="https://github.com/cveubank"><img src="../../../assets/icons/github_info.svg" style="height: 30px; padding-inline: 10px"></a>
        <a href="https://www.linkedin.com/in/cvetk4/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px; padding-inline: 10px;"></a>          
      </div>
    </div>

    <!--Tara Kotthoff-->
    <div class="col-lg-4 col-sm-10 mx-auto mb-5">
      <img class="rounded-circle border border-warning mb-4 shadow" src="../../../assets/photos/team_TaraKotthoff.png" style="height: 200px">
      <h5 class="text-secondary text-uppercase" style="letter-spacing: .25rem;">Tara Kotthoff</h5>
      <hr class="border-info" width="150">
      <p class="text-muted my-4">I recently completed Launchcode's Codergirl JavaScript & Java Web Development Course, and am currently working on my capstone project.</p>
      <br>
      <div>
        <a href="https://github.com/tara-kotthoff"><img src="../../../assets/icons/github_info.svg" style="height: 30px; padding-inline: 10px"></a>
        <a href="https://www.linkedin.com/in/tarakotthoff/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px; padding-inline: 10px;"></a>          
      </div>
    </div>

    <!--Carrie Jones-->
    <div class="col-lg-4 col-sm-10 mx-auto mb-5">
      <img class="rounded-circle border border-warning mb-4 shadow" src="../../../assets/photos/team_CarrieJones.jfif" style="height: 200px">
      <h5 class="text-secondary text-uppercase" style="letter-spacing: .25rem;">Carrie Jones</h5>
      <hr class="border-info" width="150">
      <p class="text-muted my-4">Launchcode graduate, mentor, and web/software developer with passion for all things both creative and analytical.</p>
      <br>
      <div>
        <a href="https://github.com/Carolista"><img src="../../../assets/icons/github_info.svg" style="height: 30px; padding-inline: 10px"></a>
        <a href="https://www.linkedin.com/in/carolinerjones/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px; padding-inline: 10px;"></a>          
      </div>
    </div>
  </div>
  <!--team members end-->

<!--Team end-->
