<!--About this project section-->
<div class="container-fluid">
  <!--title start-->
  <div class="row justify-content-xl-center">
    <div class="col text-center mb-3">
      <h1 class="font-weight-light text-primary">Our Team</h1>          
      <p class="lead">This app was created as a fullstack capstone project for LaunchCode's LiftOff program (Spring 2021 cohort). Team members Anna McBride, Anya Wynne, Casey Gardonio-Foat, Chandler EuBank, and Tara Kotthoff built the project from scratch under the mentorship of Carrie Jones.</p>
    </div>
  </div>
  <!--title end-->
  <div class="row pt-3 pb-1 px-5 mx-5">
    <div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_AnnaMcBride.png" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-secondary">Anna McBride</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, laudantium!</p>
            </div>
          <div class="text-right">
            <a href="#"><i class="fab fa-facebook fa-2x mx-2 text-primary"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_AnyaWynne.jfif" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-secondary">Anya Wynne</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, laudantium!</p>
            </div>
          <div class="text-right">
            <a href="#"><i class="fab fa-facebook fa-2x mx-2 text-primary"></i></a>
          </div>
        </div>
      </div>
    </div><div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_CaseyGardonio-Foat.jfif" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-secondary">Casey Gardonio-Foat</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, laudantium!</p>
            </div>
          <div class="text-right">
            <a href="#"><i class="fab fa-facebook fa-2x mx-2 text-primary"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-1 py-5 px-5 mx-5">
    <div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_ChandlerEuBank.png" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-secondary">Chandler EuBank</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, laudantium!</p>
            </div>
          <div class="text-right">
            <a href="#"><i class="fab fa-facebook fa-2x mx-2 text-primary"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_TaraKotthoff.png" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-secondary">Tara Kotthoff</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, laudantium!</p>
            </div>
          <div class="text-center">
            <a href="#"><img src="../../../assets/icons/github.svg" style="height: 30px"></a>
            <a href="#"><img src="../../../assets/icons/github.svg" style="height: 30px"></a>
          </div>
        </div>
      </div>
    </div><div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_CarrieJones.jfif" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-secondary">Carrie Jones</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, laudantium!</p>
            </div>
          <div class="text-right">
            <a href="#"><i class="fab fa-facebook fa-2x mx-2 text-primary"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Team end-->
