<!--About this project section-->
<div class="container-fluid">
  <!--title start-->
  <div class="row justify-content-xl-center mt-5">
    <div class="col text-center mb-3">
      <h1 class="font-weight-light text-primary">Our Team</h1>          
      <p class="lead">
        This app was created as a fullstack capstone project for 
        <a class="text-secondary font-weight-bold" href="https://www.launchcode.org/">LaunchCode's</a> 
        LiftOff program (Spring 2021 cohort). Team members Anna McBride, Anya Wynne, Casey Gardonio-Foat, Chandler EuBank, and Tara Kotthoff built the project from scratch under the mentorship of Carrie Jones.</p>
    </div>
  </div>
  <!--title end-->
  
  <!--still need to format cards to be the same vertical height-->
  <div class="row pt-3 pb-1 px-5 mx-5">
    <div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_AnnaMcBride.png" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-warning text-center">Anna McBride</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">As a recent graduate from LaunchCode's CoderGirl Java cohort, I am focused on growing my knowledge and skill base in Java, Spring and Hibernate.</p>
            </div>
          <div class="text-center">
            <a href="https://github.com/AnnaMcBride"><img src="../../../assets/icons/github_info.svg" style="padding-inline: 25px; height: 30px"></a>
            <a href="https://www.linkedin.com/in/anna-w-mcbride/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px"></a>          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_AnyaWynne.jfif" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-warning text-center">Anya Wynne</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">Web developer and LaunchCode graduate with a background in graphic design and photography.</p>
            </div>
          <div class="text-center">
            <a href="https://github.com/AnyaWynne"><img src="../../../assets/icons/github_info.svg" style="padding-inline: 25px; height: 30px"></a>
            <a href="https://www.linkedin.com/in/anya-wynne-2b496618/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px"></a>          </div>
        </div>
      </div>
    </div><div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_CaseyGardonio-Foat.jfif" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-warning text-center">Casey Gardonio</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">A recent graduate from LaunchCode's front end web development program, I also have experience in graphic design, entrepreneurship, and non-profit management.</p>
            </div>
          <div class="text-center">
            <a href="https://github.com/CaseyGardonio-Foat"><img src="../../../assets/icons/github_info.svg" style="padding-inline: 25px; height: 30px"></a>
            <a href="https://www.linkedin.com/in/caseygardoniofoat/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px"></a>          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--still need to format cards to be the same vertical height-->
  <div class="row pt-1 py-5 px-5 mx-5">
    <div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_ChandlerEuBank.png" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-warning text-center">Chandler EuBank</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">Aspiring web developer recently graduated from LaunchCode's CoderGirl cohort, focusing on JavaScript and Java. Actively seeking development positions.</p>
            </div>
          <div class="text-center">
            <a href="https://github.com/cveubank"><img src="../../../assets/icons/github_info.svg" style="padding-inline: 25px; height: 30px"></a>
            <a href="https://www.linkedin.com/in/cvetk4/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px"></a>          
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_TaraKotthoff.png" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-warning text-center">Tara Kotthoff</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">I recently completed Launchcode's Codergirl JavaScript & Java Web Development Course, and am currently working on my capstone project.</p>
            <p></p>
            </div>
          <div class="text-center">
            <a href="https://github.com/tara-kotthoff"><img src="../../../assets/icons/github_info.svg" style="padding-inline: 25px; height: 30px"></a>
            <a href="https://www.linkedin.com/in/tarakotthoff/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px"></a>
          </div>
        </div>
      </div>
    </div><div class="col-4">
      <div class="card bg-primary">
        <img src="../../../assets/photos/team_CarrieJones.jfif" class="card-img-top">
        <div class="card-body">
          <div class="card-title">
            <h3 class="text-warning text-center">Carrie Jones</h3>
          </div>
          <div class="card-subtitle">
            <p class="lead text-muted">Launchcode graduate, mentor, and web/software developer with passion for all things both creative and analytical.</p>
            </div>
          <div class="text-center">
            <a href="https://github.com/Carolista"><img src="../../../assets/icons/github_info.svg" style="padding-inline: 25px; height: 30px"></a>
            <a href="https://www.linkedin.com/in/carolinerjones/"><img src="../../../assets/icons/logo-LinkedIn_info.svg" style="height: 30px"></a>          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Team end-->
