<div class="col-12">

  <nav class="navbar-expand-sm" style="height: auto">
    
    <!--logo-->
    <div class="float-left" style="z-index: 200; position: absolute;">
      <a href="#" routerLink=''><img src="../assets/logoFull_color_noBackground-01.png" style="max-height: 100px;"></a>
    </div>

    <!--navbar interactive content-->
    <!--primary navbar row start-->
    <div class="row">
      <!-- <p class="navbar-brand" style="min-width: 200px;"></p> -->
      <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-center" id="nav">
      
        <!--search field-->
        <form 
          [formGroup]="userSearch"
          (ngSubmit)="onSearch()"
          class="form-inline ml-3">
          <div class="input-group">
            <input 
            formControlName="userInput"
            type="search" 
            class="form-control" placeholder="SEARCH">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">
                <img src="../../assets/search.png" style="max-height: 1rem;">
              </button>
            </div>
          </div>
        </form>
      
        <!--site navigation links-->
        <ul class="navbar-nav padding-inline-4">
          <li class="nav-item" routerLinkActive="selected">
            <a 
            (click)="onFetchMyCollectionData()"
            class="nav-link text-uppercase px-3" 
            routerLink="member-page"
            >my page</a>
          </li>
          <li class="nav-item">
            <a 
            (click)="logOut()"
            class="nav-link text-uppercase px-3" 
            href='#'>log out </a>
          </li>
        </ul>
      </div>
    </div>
    <!--end of primary navbar row-->

    <!--secondary navbar rows: categories-->
    <div class="col-12" style="justify-content: end">

      <!--categories start-->
      <div class="row" >
        <div class="col" *ngFor="let category of categories; let i = index">  
          <div class="col"> 
            <a 
              routerLink="member-page"
              href="#"
              (click)="onBrowseCategories(i)">
              <h5 class="text-uppercase" style="font-size: small" >{{category}}</h5>
            </a>  
          </div>      
        </div>
      </div>
      <!--categories end-->

      <!--subcategories start-->
      <div 
        class="row" 
        *ngIf="isOpen"
        [ngSwitch]="clickedCategory"
        style="justify-content: end;">
        <div *ngFor="let subCategory of selectedSubcategoryArr; let j = index">
          <div *ngSwitchCase="switchCase" class="col">
            <a
            href="#"
            routerLink="member-page"
            (click)="onBrowseSubcategories(j)"
            >
              <h6 style="font-size: small"> • {{subCategory}} </h6>    
            </a>
          </div>
        </div>
      </div>
      <!--subcategories end-->

    </div>
    <!--navbar secondary row end-->

  </nav>
</div>