<div class="container">
    <div class="row">
      <div class="col">
          <h1>Add an item to your colletion</h1>
          <p>Please fill out the form below and click submit button to add an item to your collection.
              Please note: some feilds are required.
          </p>
           <a routerLink="/member-page">
          <h3>back to my viewing</h3>
        </a>
        <hr>
            <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()"> 
                <div class="col-6">
              <div class="col-md">
                <label for="title">Title<br>
                    <input formControlName="title" id="title" type="text">
                </label><br>
                  <label for="imagePath">Please submit a URL link<br>
                      <input formControlName="imagePath" type="text" id="imagePath">
                  </label><br>
                  <span *ngIf="!addItemForm.get('imagePath').valid && addItemForm.get('imagePath').touched"><nobr>Please enter url</nobr></span>
                  <label for="category">Category<br>
                    <div class="col">
                        <div class="radio" *ngFor="let category of browseMainCategories">
                            <label>
                              <input
                                type="radio"
                                formControlName="category"
                                [value]="category">{{ category }}
                            </label>
                        </div>
                    </div>
                </label><br>
                    <div class="col">
                        <label for="category">Subcategory<br>
                            <div class="col">
                                <div class="radio" *ngFor="let subCategory of subCategories">
                                    <label>
                                      <input
                                        type="radio"
                                        formControlName="category"
                                        [value]="subCategory">{{ subCategory }}
                                    </label>
                                </div>
                            </div>
                        </label><br>
                    </div>
                <label for="description">Description<br>
                    <textarea formControlName="description" id="description"
                    rows="6" cols="50"
                    >
                    </textarea>
                </label><br>
                <label for="creator">Creator<br>
                    <input formControlName="creator" id="creator" type="text">
                </label><br>
                <label for="yearCreated">Year Created<br>
                    <input formControlName="yearCreated" id="yearCreated" type="number">
                </label><br>
                <label for="placeOfOrigin">Place of Origin<br>
                    <input formControlName="placeOfOrigin" id="placeOfOrigin" type="text">
                </label><br>
                <label for="yearAcquired">Year Acquired<br>
                    <input formControlName="yearAcquired" id="yearAcquired" type="number">
                </label><br>
                <label for="cond">Condition<br>
                    <select formControlName="cond" id="cond">
                        <option value="fair">fair</option>
                        <option value = "good">good</option>
                        <option value = "very-good">very good</option>
                        <option value = "excellent">excellent</option>
                    </select>
                </label><br>
                <label for="mediaType">Media<br>
                    <input formControlName="mediaType" id="mediaType" type="text">
                </label><br>
                <label for="refs">References<br>
                    <input formControlName="refs" id="refs" type="text">
                </label><br>
                </div>
                </div>
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        <div *ngIf="formSubmitted">
          This form has been submitted.
          <div>
            <button>View my collection</button>
          </div>
        </div>
      </div>
    </div>
</div>