<!--title start-->
  <div class="row justify-content-xl-center mt-5 bg-primary py-4">
  <div class="col text-center mb-3">
    <h1>
      <span class="text-info">Introducing </span>
      <span class="text-warning">ReCollect</span>
    </h1>
    <h5 class="text-uppercase text-light">A Collection Organizer</h5>  
    <h4 class="text-muted">A 
      <a href="about-team" class="text-light font-weight-bold">Team </a> 
      project for students in LaunchCode's Liftoff Program, March 2021
    </h4>     
  </div>
</div>
<!--title end-->

<!--Elevator pitch start-->
<div class="row justify-content-xl-center py-5">
  <div class="py-3 px-5 mx-5">
    <h1 class="font-weight-light text-info text-center">What Is ReCollect?</h1>
    <hr style="color: info">
    <h3 class="text-muted">What Problem Does it Solve?</h3>
    <p class="text-muted">
      One of the joys of collecting is learning about the objects you collect. Documenting dates, purchase prices, and background information adds value to both the objects and the collection as a whole, and allows you to make informed decisions about new acquisitions. But how do you organize all of these details in one place? Moreover, how can you connect with like-minded enthusiasts and learn from the vast expertise of the crowd?
    </p>
    <hr style="color: info">
    <h3 class="text-muted">What Goal Does it Achieve?</h3>
    <p class="text-muted">
      Modeled on museum catalogs and databases, this app allows registered users to store and organize information about their collections, including purchase and provenance details, photographs, condition reports, and research notes. It also allows users to post and edit guides on categories of objects on which they have expertise. Both registered users and non-users can access these guides and fora to further their own research.
    </p>
    <hr style="color: info">
    <h3 class="text-muted">Who is the Audience?</h3>
    <ul class="text-muted">
      <li>Collectors of art, antiques, and other objects</li>
      <li>Buyers/sellers researching objects they own or possible acquisitions</li>
      <li>Buyers/sellers wishing to connect with other collectors</li>
      <li>Collectors of all ages and backgrounds who have a passion about any area of collecting</li>
      <li>UX/accessibility specific: Older adults who may require extra-intuitive and/or clear user interface</li>
      <li>UX/accessibility specific: Researchers who may need to use diacritical marks in their notes</li>
    </ul>
  </div>
</div>
<!--Elevator pitch end-->

<!--Tech Stack start-->
<div class="row justify-content-xl-center bg-tertiary py-3">
  <div class="py-3 px-5 mx-5">
    <h1 class="text-warning text-center">Tech Stack</h1>
    <hr style="color: info">
    <div class="row">
      <div class="col-6">
      <h3 class="text-light">Front End/UX/UI</h3>
        <ul class="text-light">
          <li>Angular 11 framework</li>
          <li>Bootstrap 4</li>
          <li>HTML</li>
          <li>TypeScript</li>
          <li>CSS</li>
          <li>Scss</li>
          <li>Adobe XD</li>
        </ul>
      </div>
      <div class="col-6">
      <h3 class="text-light">Back End</h3>
        <ul class="text-light">
          <li>Spring Boot</li>
          <li>Java</li>
          <li>CRUD repository</li>
          <li>MySQL</li>
          <li>IntelliJ</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--Tech Stack end-->

<!--License start-->
<div class="row justify-content-xl-center py-5">
  <div class="py-3 px-5 mx-5">
    <h1 class="font-weight-light text-info text-center">Licensing Information</h1>
    <hr style="color: info">
    <h5 class="text-tertiary">ReCollect is licensed under the OpenSource MIT License</h5>
    <hr class="my-3">
    <p class="text-tertiary">
      Copyright (c) 2021 Anna McBride, Tara Kotthoff, Chandler EuBank, Anna Wynne, and Casey Gardonio-Foat
    </p>

    <p class="text-tertiary">Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

    <p class="text-tertiary">The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

    <p class="text-tertiary">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
  </div>
</div>
<!--License start-->

