<div class="container">
  <div class="row justify-content-xl-center" style="min-height: 90vh">
    <div class="col-2 bg-primary">
       <h3 class="font-weight-light text-white">logged-in user menu displayed here</h3> 
    </div>
    <div class="col-10">
        <h3 class="font-weight-light">logged-in member components are displayed here</h3>
          <ul>
            <li class="font-weight-light text-muted">Add-item form</li>
            <li class="font-weight-light text-muted">My items/collections</li>
            <li class="font-weight-light text-muted">Item detail</li>
            <li class="font-weight-light text-muted">User profile</li>
          </ul>
    </div>
  </div>
</div>
