<div class="container bg-light" style="min-height: 100vh">
  <h3 class="text-center text-primary" style="padding-top: 12px;">Options</h3>
  <hr>

  <ul class="text-left text-muted list-unstyled">

    <!--link to display all items-->
    <li *ngIf="this.items.length > 0"><a>All Items</a></li>
    <!-- <li *ngIf="this.items.length > 0" class="dropdown">
      <a class="dropdown-toggle" 
        role="button"
        data-toggle="dropdown" 
        style="cursor: pointer"
        id="dropdownMenuCategories" 
        data-bs-toggle="dropdown" 
        aria-expanded="false">My Collections
      </a>
      <ul class="dropdown-menu" style="font-size: smaller" aria-labelledby="dropdownMenuCategories">
        <a class="dropdown-item"
          style="cursor: pointer"
          *ngFor="let category of memberCategories; let i = index"
          (click)="onSelectCategory(i)">{{category}}
        </a>
      </ul>
    </li> -->

    <!--using list-group to display categories w/out dropdown; improve styling for list-group and list-group-items-->
    <ul class='list-group'>My Categories
      <a 
          class='list-group-item' 
          style="cursor: pointer; font-size: smaller"
          *ngFor='let category of memberCategories; let i = index'
          (click)="onSelectCategory(category)">
      {{ category }}
      </a>
    </ul>
    <li class="text-white">My Profile</li>

    <!--add-item link; could also make this a button-->
    <li routerLinkActive="selected"><a routerLink="../member-page/add-item">Add Item</a></li>
  </ul>

</div>


