<div class="container bg-light" style="min-height: 100vh">
  <h3 class="text-center text-primary" style="padding-top: 12px;">Options</h3>
  <hr>

  <ul class="text-left text-muted list-unstyled">
    <li *ngIf="this.items.length > 0"><a href="#">All Items</a></li>
    <li *ngIf="this.items.length > 0"><a href="#">My Collections</a></li>
    <li class="text-white">My Profile</li>
    <!--could also make this a button-->
    <li routerLinkActive="selected"><a routerLink="../member-page/add-item">Add Item</a></li>
  </ul>
</div>


